{{> head }}
    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Warframe</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius iusto, veniam quae repellendus nihil obcaecati tempore aut architecto fuga provident cupiditate. Maxime corrupti, dolorem harum maiores laboriosam suscipit accusamus autem.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/Warframe0001.jpg" class="img-thumbnail">
        </div>

    </div>

{{> footer}}